.container {
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	display: flex;
	flex-direction: column;
}

.number {
	text-align: center;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
