.section {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100%;
	margin: 60px 0 0;
	display: grid;
	gap: 16px;
	grid-template-rows: 1fr;
}
.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	max-height: calc(3 * 80px + 16px + 16px);
	overflow-y: scroll;
}
.item {
	margin: 0;
	display: flex;
	align-items: center;
	&_dragging {
		opacity: 0;
	}
}
.order {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
