:root {
	--background-color: #131316;
	--white-color: #ffffff;
	--accent-color: #801ab3;
	--gradient-color: #4c4cff;
	--interface-input: #2f2f37;
	--secondary-text: #8585ad;
	--interface-success: #00cccc;
	--interface-modal-bg: #1c1c21;
	--interface-modal-edge: rgb(76 76 255 / 20%);
	--interface-modal-border-radius: 40px;
}

body {
	margin: 0;
	padding: 0;
	color: var(--white-color);
	font-weight: 400;
	font-size: 16px;
	font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	background-color: var(--background-color);
	color-scheme: dark;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}

.scroll {
	scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scroll::-webkit-scrollbar-button {
	display: none;
}

.scroll::-webkit-scrollbar-track {
	background: var(--interface-input);
}

.scroll::-webkit-scrollbar-thumb {
	background: var(--secondary-text);
}
